In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('ggplot')

In [2]:
path = "C:/Users/hitesh/Learning/TechGiG/Sapient Lending/data/"

In [3]:
data = pd.read_csv(path+'train.csv')
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,157876,0,Cash loans,F,N,Y,0,67500.0,343800.0,16155.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,157878,0,Cash loans,M,Y,N,2,247500.0,945000.0,40167.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
2,157879,0,Revolving loans,M,N,Y,2,180000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
3,157880,0,Cash loans,F,N,Y,0,112500.0,295168.5,16011.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
4,157881,0,Cash loans,F,N,Y,0,63000.0,298512.0,17266.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(257512, 122)

In [5]:
data.isna().sum().sort_values()[65:]

AMT_REQ_CREDIT_BUREAU_MON        34785
AMT_REQ_CREDIT_BUREAU_HOUR       34785
AMT_REQ_CREDIT_BUREAU_DAY        34785
AMT_REQ_CREDIT_BUREAU_WEEK       34785
AMT_REQ_CREDIT_BUREAU_YEAR       34785
AMT_REQ_CREDIT_BUREAU_QRT        34785
EXT_SOURCE_3                     51021
OCCUPATION_TYPE                  80737
EMERGENCYSTATE_MODE             122057
TOTALAREA_MODE                  124283
YEARS_BEGINEXPLUATATION_MODE    125613
YEARS_BEGINEXPLUATATION_AVG     125613
YEARS_BEGINEXPLUATATION_MEDI    125613
FLOORSMAX_AVG                   128145
FLOORSMAX_MEDI                  128145
FLOORSMAX_MODE                  128145
LIVINGAREA_AVG                  129213
LIVINGAREA_MODE                 129213
LIVINGAREA_MEDI                 129213
HOUSETYPE_MODE                  129222
ENTRANCES_AVG                   129633
ENTRANCES_MODE                  129633
ENTRANCES_MEDI                  129633
APARTMENTS_MEDI                 130676
APARTMENTS_AVG                  130676
APARTMENTS_MODE                 130676
WALLSMATERIAL_MODE              130882
ELEVATORS_MEDI                  137240
ELEVATORS_AVG                   137240
ELEVATORS_MODE                  137240
NONLIVINGAREA_MODE              142110
NONLIVINGAREA_AVG               142110
NONLIVINGAREA_MEDI              142110
EXT_SOURCE_1                    145206
BASEMENTAREA_MODE               150744
BASEMENTAREA_AVG                150744
BASEMENTAREA_MEDI               150744
LANDAREA_MEDI                   152869
LANDAREA_AVG                    152869
LANDAREA_MODE                   152869
OWN_CAR_AGE                     169979
YEARS_BUILD_MODE                171249
YEARS_BUILD_AVG                 171249
YEARS_BUILD_MEDI                171249
FLOORSMIN_AVG                   174748
FLOORSMIN_MODE                  174748
FLOORSMIN_MEDI                  174748
LIVINGAPARTMENTS_AVG            175973
LIVINGAPARTMENTS_MODE           175973
LIVINGAPARTMENTS_MEDI           175973
FONDKAPREMONT_MODE              176104
NONLIVINGAPARTMENTS_AVG         178800
NONLIVINGAPARTMENTS_MEDI        178800
NONLIVINGAPARTMENTS_MODE        178800
COMMONAREA_MODE                 179905
COMMONAREA_AVG                  179905
COMMONAREA_MEDI                 179905
dtype: int64

In [6]:
na_val = pd.DataFrame(sorted(zip(data.columns,data.isna().sum())), 
                               columns=['Feature','Value'])

In [7]:
na_val.sort_values(by = "Value", inplace= True)

In [8]:
na_val.reset_index(drop= True, inplace= True)

In [9]:
remove_cal = na_val[65:].Feature.values

In [10]:
remove_cal

array(['AMT_REQ_CREDIT_BUREAU_YEAR', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'EXT_SOURCE_3', 'OCCUPATION_TYPE', 'EMERGENCYSTATE_MODE',
       'TOTALAREA_MODE', 'YEARS_BEGINEXPLUATATION_AVG',
       'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BEGINEXPLUATATION_MODE',
       'FLOORSMAX_AVG', 'FLOORSMAX_MODE', 'FLOORSMAX_MEDI',
       'LIVINGAREA_AVG', 'LIVINGAREA_MEDI', 'LIVINGAREA_MODE',
       'HOUSETYPE_MODE', 'ENTRANCES_MODE', 'ENTRANCES_MEDI',
       'ENTRANCES_AVG', 'APARTMENTS_MODE', 'APARTMENTS_AVG',
       'APARTMENTS_MEDI', 'WALLSMATERIAL_MODE', 'ELEVATORS_AVG',
       'ELEVATORS_MEDI', 'ELEVATORS_MODE', 'NONLIVINGAREA_MEDI',
       'NONLIVINGAREA_MODE', 'NONLIVINGAREA_AVG', 'EXT_SOURCE_1',
       'BASEMENTAREA_MEDI', 'BASEMENTAREA_AVG', 'BASEMENTAREA_MODE',
       'LANDAREA_MODE', 'LANDAREA_MEDI', 'LANDAREA_AVG', 'OWN_CAR_AGE',
       'YEARS_BUILD_AVG', 'YEARS_BUILD_MODE', 'YEARS_BUILD_MEDI',
       'FLOORSMIN_MODE', 'FLOORSMIN_MEDI', 'FLOORSMIN_AVG',
       'LIVINGAPARTMENTS_MODE', 'LIVINGAPARTMENTS_MEDI',
       'LIVINGAPARTMENTS_AVG', 'FONDKAPREMONT_MODE',
       'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAPARTMENTS_AVG',
       'NONLIVINGAPARTMENTS_MODE', 'COMMONAREA_MEDI', 'COMMONAREA_MODE',
       'COMMONAREA_AVG'], dtype=object)

In [11]:
work_col = []
for i in data.columns:
    if i not in remove_cal:
        work_col.append(i)
len(work_col)
work_col.append('EXT_SOURCE_3')
len(work_col)

66

In [12]:
# High points are missing 
data = data[work_col].copy()

In [13]:
data.shape

(257512, 66)

In [14]:
datadata = data.copy()

In [15]:
data.isna().sum().sort_values()[55:]

FLAG_EMP_PHONE                  0
CNT_FAM_MEMBERS                 1
AMT_ANNUITY                    11
AMT_GOODS_PRICE               240
EXT_SOURCE_2                  534
OBS_30_CNT_SOCIAL_CIRCLE      853
DEF_30_CNT_SOCIAL_CIRCLE      853
OBS_60_CNT_SOCIAL_CIRCLE      853
DEF_60_CNT_SOCIAL_CIRCLE      853
NAME_TYPE_SUITE              1100
EXT_SOURCE_3                51021
dtype: int64

In [16]:
data.drop(columns = ['SK_ID_CURR'],inplace = True)

In [17]:
data = data.sample(frac=1).reset_index(drop=True)

In [18]:
part = data.select_dtypes(include= 'object')
part.shape

(257512, 11)

In [19]:
train_small_with_dummies = pd.get_dummies(part, dtype ='int64')

In [20]:
data.drop(columns= part.columns, inplace= True)

In [21]:
data.shape

(257512, 54)

In [22]:
target = data['TARGET'].values

In [23]:
target.shape

(257512,)

In [24]:
data.drop(columns = ['TARGET'],inplace = True)

In [25]:
data = data.join(train_small_with_dummies)
data.shape

(257512, 159)

In [26]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan,strategy='mean')

In [27]:
data.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 6,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA
0,1,292500.0,1493086.5,52029.0,1363500.0,0.008625,-11366,-2485,-5661.0,-1718,...,0,0,0,0,0,0,0,0,0,0
1,1,121500.0,490536.0,18621.0,405000.0,0.018029,-10130,-551,-135.0,-206,...,0,0,0,0,0,0,0,0,0,0
2,1,90000.0,152820.0,16344.0,135000.0,0.003813,-15874,-531,-5119.0,-4419,...,0,0,0,0,0,0,0,0,0,0
3,0,130500.0,297130.5,27382.5,256500.0,0.035792,-10270,-923,-4267.0,-2869,...,0,0,0,0,0,0,0,0,0,0
4,0,225000.0,592560.0,35937.0,450000.0,0.020713,-14375,-1801,-2661.0,-3800,...,0,0,0,0,0,0,0,0,0,0

In [28]:
df1 = imp.fit_transform(data)
df1.shape

(257512, 159)

In [38]:
df2 = pd.DataFrame(data= df1, columns= data.columns )

In [39]:
df2['TARGET'] = target
df2.shape

(257512, 160)

In [40]:
df2.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 6,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,TARGET
0,1.0,292500.0,1493086.5,52029.0,1363500.0,0.008625,-11366.0,-2485.0,-5661.0,-1718.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,1.0,121500.0,490536.0,18621.0,405000.0,0.018029,-10130.0,-551.0,-135.0,-206.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,1.0,90000.0,152820.0,16344.0,135000.0,0.003813,-15874.0,-531.0,-5119.0,-4419.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.0,130500.0,297130.5,27382.5,256500.0,0.035792,-10270.0,-923.0,-4267.0,-2869.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.0,225000.0,592560.0,35937.0,450000.0,0.020713,-14375.0,-1801.0,-2661.0,-3800.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

### Model

In [41]:
import xgboost as xgb
from xgboost import XGBClassifier
import lightgbm as lgb
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn import  metrics
from sklearn.model_selection import cross_validate

In [45]:
train = df2[:200000]
train.shape

(200000, 160)

In [46]:
test = df2[200000:]
test.shape

(57512, 160)

In [54]:
trainX = train.iloc[:,:-1]
trainX.shape

(200000, 159)

In [56]:
trainY = train.iloc[:,-1]
trainY.shape

(200000,)

In [57]:
testX = test.iloc[:,:-1]
testX.shape

(57512, 159)

In [58]:
testY = test.iloc[:,-1]
testY.shape

(57512,)

In [59]:
lgb_train = lgb.Dataset(trainX, trainY)
lgb_eval = lgb.Dataset(testX,testY, reference=lgb_train)

In [60]:
trainY.value_counts()

0    183859
1     16141
Name: TARGET, dtype: int64

In [ ]:
lgbm_params = {
    'boosting': 'dart',
    'application': 'binary',
    'learning_rate': 0.02,
    'min_data_in_leaf': 30,
    'num_leaves': 34,
    'max_depth': 8,
    'feature_fraction': 0.9497036,
    'scale_pos_weight': 10,
    'drop_rate': 0.02,
    'reg_alpha': 0.041545473,
    'reg_lambda': 0.0735294,
    'min_split_gain': 0.0222415,
    'min_child_weight': 39.3259775,
}


cv_results = lgb.cv(train_set=lgb_train,
                     params=lgbm_params,
                     nfold=5,
                     num_boost_round=1000,
                     early_stopping_rounds=200,
                     stratified=True,
                     verbose_eval=50,
                     metrics=['auc'])

optimum_boost_rounds = np.argmax(cv_results['auc-mean'])
print('Optimum boost rounds = {}'.format(optimum_boost_rounds))
print('Best LGBM CV result = {}'.format(np.max(cv_results['auc-mean'])))

In [ ]:
clf = lgb.train(train_set=lgb_train,
                 params=lgbm_params,
                 num_boost_round=optimum_boost_rounds)
                 
""" Predict on test set and create submission """
y_pred = clf.predict(testX)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

def plotImp(model, X , num = 20):
    feature_imp = pd.DataFrame(sorted(zip(model.feature_importance(),X.columns)), 
                               columns=['Value','Feature'])
    plt.figure(figsize=(40, 30))
    sns.barplot(x="Value", y="Feature", data=feature_imp.sort_values(by="Value", 
                                                        ascending=False)[0:num])
    plt.title('LightGBM Features (avg over folds)')
    plt.tight_layout()
    plt.show()
    
plotImp(clf,trainX,50)

In [ ]:
feature_imp = pd.DataFrame(sorted(zip(trainX.columns,clf.feature_importance())), 
                               columns=['Feature','Value'])

In [ ]:
feature_imp.sort_values(by="Value", ascending=False, inplace= True)
feature_imp.reset_index(inplace = True, drop= True)

In [ ]:
select = list(feature_imp[:30].Feature)

In [ ]:
select

In [ ]:
corr = df1[select].corr()

# Generate a mask for the upper triangle
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(30, 15))

# Generate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5});

### GBM

In [ ]:
target = 'TARGET'

In [ ]:
def modelfit(alg, dtrain, dtest, predictors,useTrainCV=True, cv_folds=5, early_stopping_rounds=50):
    
    if useTrainCV:
        xgb_param = alg.get_xgb_params()
        xgtrain = xgb.DMatrix(dtrain[predictors].values, label=dtrain[target].values)
        xgtest = xgb.DMatrix(dtest[predictors].values)
        cvresult = xgb.cv(xgb_param, xgtrain, num_boost_round=alg.get_params()['n_estimators'], nfold=cv_folds,
          metrics='auc', early_stopping_rounds=early_stopping_rounds)
        alg.set_params(n_estimators=cvresult.shape[0])
    
    #Fit the algorithm on the data
    alg.fit(dtrain[predictors], dtrain['TARGET'],eval_metric='auc')
        
    #Predict training set:
    dtrain_predictions = alg.predict(dtrain[predictors])
    dtrain_predprob = alg.predict_proba(dtrain[predictors])[:,1]
        
    #Print model report:
    print ("\nModel Report")
    print ("Accuracy : %.4g" % metrics.accuracy_score(dtrain['TARGET'].values, dtrain_predictions))
    print ("AUC Score (Train): %f" % metrics.roc_auc_score(dtrain['TARGET'], dtrain_predprob))
    
#     Predict on testing data:
    dtest_pred = alg.predict_proba(dtest[predictors])[:,1]
#    results = test_results.merge(dtest[['ID','predprob']], on='ID')
    print ('AUC Score (Test): %f' % metrics.roc_auc_score(dtest['TARGET'], dtest_pred ))

In [ ]:
predictors = [x for x in train.columns if x not in [target]]

In [ ]:
xgb1 = XGBClassifier(
        learning_rate =0.1,
        n_estimators=300,
        max_depth=3,
        min_child_weight=5,
        gamma=0,
        subsample=0.8,
        colsample_bytree=0.8,
        objective= 'binary:logistic',
        nthread=-1,
        scale_pos_weight=11,
        seed=27, verbose = True)
modelfit(xgb1, train, test, predictors)

## Testing

In [80]:
data1 = pd.read_csv(path+'test.csv')
data1.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
li = ['SK_ID_CURR','NAME_CONTRACT_TYPE','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY',
 'CNT_CHILDREN','AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE','NAME_INCOME_TYPE','NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE','REGION_POPULATION_RELATIVE','DAYS_BIRTH','DAYS_EMPLOYED',
 'DAYS_REGISTRATION','DAYS_ID_PUBLISH','FLAG_MOBIL','FLAG_EMP_PHONE','FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE','FLAG_PHONE','FLAG_EMAIL','CNT_FAM_MEMBERS','REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY','WEEKDAY_APPR_PROCESS_START','HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION','REG_REGION_NOT_WORK_REGION','LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY','REG_CITY_NOT_WORK_CITY','LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE','EXT_SOURCE_2','OBS_30_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE','DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2','FLAG_DOCUMENT_3','FLAG_DOCUMENT_4','FLAG_DOCUMENT_5','FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7','FLAG_DOCUMENT_8','FLAG_DOCUMENT_9','FLAG_DOCUMENT_10','FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12','FLAG_DOCUMENT_13','FLAG_DOCUMENT_14','FLAG_DOCUMENT_15','FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17','FLAG_DOCUMENT_18','FLAG_DOCUMENT_19','FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
 'EXT_SOURCE_3']

In [82]:
data1 = data1[li].copy()

In [83]:
data1.shape

(49999, 65)

In [84]:
data1.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,EXT_SOURCE_3
0,100002,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0,0,0,0,0,0.139376
1,100003,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0,0,0,0,0,NaN
2,100004,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0,0,0,0,0,0.729567
3,100006,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,0,0,0,0,0,NaN
4,100007,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0,0,0,0,0,NaN

In [85]:
data1.drop(columns = ['SK_ID_CURR'],inplace = True)

In [86]:
part = data1.select_dtypes(include= 'object')
part.shape

(49999, 11)

In [87]:
train_small_with_dummies = pd.get_dummies(part, dtype ='int64')

In [88]:
data1.drop(columns= part.columns, inplace= True)
data1.shape

(49999, 53)

In [89]:
data1 = data1.join(train_small_with_dummies)
data1.shape

(49999, 159)

In [90]:
cols = data.columns.values

array(['CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY',
       'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE',
       'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
       'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'EXT_SOURCE_2',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'EXT_SOURCE_3', 'NAME_CONTRACT_TYPE_Cash loans',
       'NAME_CONTRACT_TYPE_Revolving loans', 'CODE_GENDER_F',
       'CODE_GENDER_M', 'CODE_GENDER_XNA', 'FLAG_OWN_CAR_N',
       'FLAG_OWN_CAR_Y', 'FLAG_OWN_REALTY_N', 'FLAG_OWN_REALTY_Y',
       'NAME_TYPE_SUITE_Children', 'NAME_TYPE_SUITE_Family',
       'NAME_TYPE_SUITE_Group of people', 'NAME_TYPE_SUITE_Other_A',
       'NAME_TYPE_SUITE_Other_B', 'NAME_TYPE_SUITE_Spouse, partner',
       'NAME_TYPE_SUITE_Unaccompanied', 'NAME_INCOME_TYPE_Businessman',
       'NAME_INCOME_TYPE_Commercial associate',
       'NAME_INCOME_TYPE_Maternity leave', 'NAME_INCOME_TYPE_Pensioner',
       'NAME_INCOME_TYPE_State servant', 'NAME_INCOME_TYPE_Student',
       'NAME_INCOME_TYPE_Unemployed', 'NAME_INCOME_TYPE_Working',
       'NAME_EDUCATION_TYPE_Academic degree',
       'NAME_EDUCATION_TYPE_Higher education',
       'NAME_EDUCATION_TYPE_Incomplete higher',
       'NAME_EDUCATION_TYPE_Lower secondary',
       'NAME_EDUCATION_TYPE_Secondary / secondary special',
       'NAME_FAMILY_STATUS_Civil marriage', 'NAME_FAMILY_STATUS_Married',
       'NAME_FAMILY_STATUS_Separated',
       'NAME_FAMILY_STATUS_Single / not married',
       'NAME_FAMILY_STATUS_Unknown', 'NAME_FAMILY_STATUS_Widow',
       'NAME_HOUSING_TYPE_Co-op apartment',
       'NAME_HOUSING_TYPE_House / apartment',
       'NAME_HOUSING_TYPE_Municipal apartment',
       'NAME_HOUSING_TYPE_Office apartment',
       'NAME_HOUSING_TYPE_Rented apartment',
       'NAME_HOUSING_TYPE_With parents',
       'WEEKDAY_APPR_PROCESS_START_FRIDAY',
       'WEEKDAY_APPR_PROCESS_START_MONDAY',
       'WEEKDAY_APPR_PROCESS_START_SATURDAY',
       'WEEKDAY_APPR_PROCESS_START_SUNDAY',
       'WEEKDAY_APPR_PROCESS_START_THURSDAY',
       'WEEKDAY_APPR_PROCESS_START_TUESDAY',
       'WEEKDAY_APPR_PROCESS_START_WEDNESDAY',
       'ORGANIZATION_TYPE_Advertising', 'ORGANIZATION_TYPE_Agriculture',
       'ORGANIZATION_TYPE_Bank',
       'ORGANIZATION_TYPE_Business Entity Type 1',
       'ORGANIZATION_TYPE_Business Entity Type 2',
       'ORGANIZATION_TYPE_Business Entity Type 3',
       'ORGANIZATION_TYPE_Cleaning', 'ORGANIZATION_TYPE_Construction',
       'ORGANIZATION_TYPE_Culture', 'ORGANIZATION_TYPE_Electricity',
       'ORGANIZATION_TYPE_Emergency', 'ORGANIZATION_TYPE_Government',
       'ORGANIZATION_TYPE_Hotel', 'ORGANIZATION_TYPE_Housing',
       'ORGANIZATION_TYPE_Industry: type 1',
       'ORGANIZATION_TYPE_Industry: type 10',
       'ORGANIZATION_TYPE_Industry: type 11',
       'ORGANIZATION_TYPE_Industry: type 12',
       'ORGANIZATION_TYPE_Industry: type 13',
       'ORGANIZATION_TYPE_Industry: type 2',
       'ORGANIZATION_TYPE_Industry: type 3',
       'ORGANIZATION_TYPE_Industry: type 4',
       'ORGANIZATION_TYPE_Industry: type 5',
       'ORGANIZATION_TYPE_Industry: type 6',
       'ORGANIZATION_TYPE_Industry: type 7',
       'ORGANIZATION_TYPE_Industry: type 8',
       'ORGANIZATION_TYPE_Industry: type 9',
       'ORGANIZATION_TYPE_Insurance', 'ORGANIZATION_TYPE_Kindergarten',
       'ORGANIZATION_TYPE_Legal Services', 'ORGANIZATION_TYPE_Medicine',
       'ORGANIZATION_TYPE_Military', 'ORGANIZATION_TYPE_Mobile',
       'ORGANIZATION_TYPE_Other', 'ORGANIZATION_TYPE_Police',
       'ORGANIZATION_TYPE_Postal', 'ORGANIZATION_TYPE_Realtor',
       'ORGANIZATION_TYPE_Religion', 'ORGANIZATION_TYPE_Restaurant',
       'ORGANIZATION_TYPE_School', 'ORGANIZATION_TYPE_Security',
       'ORGANIZATION_TYPE_Security Ministries',
       'ORGANIZATION_TYPE_Self-employed', 'ORGANIZATION_TYPE_Services',
       'ORGANIZATION_TYPE_Telecom', 'ORGANIZATION_TYPE_Trade: type 1',
       'ORGANIZATION_TYPE_Trade: type 2',
       'ORGANIZATION_TYPE_Trade: type 3',
       'ORGANIZATION_TYPE_Trade: type 4',
       'ORGANIZATION_TYPE_Trade: type 5',
       'ORGANIZATION_TYPE_Trade: type 6',
       'ORGANIZATION_TYPE_Trade: type 7',
       'ORGANIZATION_TYPE_Transport: type 1',
       'ORGANIZATION_TYPE_Transport: type 2',
       'ORGANIZATION_TYPE_Transport: type 3',
       'ORGANIZATION_TYPE_Transport: type 4',
       'ORGANIZATION_TYPE_University', 'ORGANIZATION_TYPE_XNA'],
      dtype=object)

In [91]:
data1 = imp.transform(data1)

In [92]:
data1 = pd.DataFrame(data= data1, columns= cols )

In [93]:
data1.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 6,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA
0,0.0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461.0,-637.0,-3648.0,-2120.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765.0,-1188.0,-1186.0,-291.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046.0,-225.0,-4260.0,-2531.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005.0,-3039.0,-9833.0,-2437.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932.0,-3038.0,-4311.0,-3458.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [94]:
data1.shape

(49999, 159)

In [ ]:
xgb